    /*PROPIEDADES DEL NAVEGADOR PRINCIPAL*/    
.boton {
    border: 1px solid #0e8b85; 
    padding: 10px; 
    background-color: #00ffff; 
    color: #ff0000; 
    text-decoration: none; 
    text-transform: uppercase; 
    font-family: 'Helvetica', sans-serif; 
    border-radius: 50px; 
    width: calc((100%/3) - 30px ) ;
    text-align: center;
    font-weight: bolder;
    display: inline-block;
    }

    #boton1 { margin-left: 5px; }

    .boton:hover{
                    background-color: blue;
                    color: rgb(255, 255, 255);
                }
  

    .titulo{
    color: rgb(255, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(0, 0, 0);
    text-align: center;
    
    }
    section{
    color: rgb(0, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(0, 0, 0);
    
    }

    


/*BODY*/
    body{ background-image: url(../img/tractor.jpg), url( https://www.deere.es/assets/images/region-2/industries/agriculture/agriculture-r2c001034-large.jpg );
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment:fixed;
        margin:1cm;
        scroll-margin: 0%;
    }  

    



    header{ background-color: rgb(0, 0, 0) ;
        margin-left: -2cm;
        margin-right: -2cm;
    }


    footer{
            margin-left: -2cm;
            margin-right: -2cm;
            color: rgb(0, 0, 0);
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            background-color: rgb(255, 238, 0);
            text-align: center;
    }

/*ESTILOS DE TEXTO*/

    h1{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(0, 0, 0);
        font-size: xx-large;
    }

    h2{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(0, 0, 0);
        font-size: x-large;
    }

    h3{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(0, 0, 0);
        font-size: larger;
    }

    p{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(0, 0, 0);
        font-size: medium;
    }



/*TABLA*/
    #tabla {
        border-collapse: separate;
        border-spacing: 10px 20px;
        width:100%;
        border: 10px solid rgb(255, 247, 1);
        background-color: rgb(0, 255, 234);
        border-width: 10px;
        text-align: center;
    }

    td { border: 5px solid rgb(255, 0, 0);
        border-width: 5px;
        border-radius: 20px; 
        
    }

    td:hover { border-color: rgb(255, 0, 208) }

    caption {
        background-color: rgb(230, 173, 173);
        text-align: left;
        caption-side: bottom;
    }

    .celda {
            width: calc((100%/3));
    }

    #celdamodified1 {
        background-color: #00ffff;
        height: 500px;
        
    }

    #celdamodified1:hover {
        background-color: #3d8585;
        border-color: rgb(255, 140, 0);
    }


/*CONTENIDO TABLA*/
/*iframe*/
    iframe {
        border-width: 5px;
        border-color: black;
        border-style: inset;
    }

/*iframe-lamborghini*/
    #lamborghini-tractors {
        width: 90% ;
        height: 90%;
    }
    

/*OTROS*/
   

    #dialog-1 { float: bottom }

    #audio1 { 
        background-color: #00ffff ;
        border: solid 5px #ff0000; 
    }


/*Encuesta-footer*/    
    #dialog-2 {
        border-color: #ff0000;
        border-radius: 10px;
        border-width: 5px;
    }

    #formulario {
        color: #005820;
        text-align: left;
    }

/*contecto email*/
#linkcorreo {
    color: blue;
    text-decoration:none;
   font-weight: bold;
}

#linkcorreoimg {
    color: rgb(3, 24, 255);
    width: 10%;
}

#linkcorreo:hover {
    color: aqua ;
    font-weight: bold;
    text-decoration: underline;
    background-color: white;

}

#linkcorreo:visited {
    font-weight: bold;
    color: yellow;
    text-decoration: underline double;
}
