.boton {
    border: 1px solid #0e8b85; 
    padding: 10px; 
    background-color: #00ffff; 
    color: #ff0000; 
    text-decoration: none; 
    text-transform: uppercase; 
    font-family: 'Helvetica', sans-serif; 
    border-radius: 50px; 
    width:30%;
    text-align: center;
    font-weight: bolder;
}
.boton:hover{
    background-color: blue;
    color: rgb(255, 255, 255);
}
div {
    display: inline-block;
    color: rgb(255, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(0, 0, 0);
    }
body{
    margin: 2cm;
    background-color: rgb(0, 0, 0);
    margin-top: 0cm;
    color: rgb(255, 255, 255);
    }
.titulo{
    color: rgb(255, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    
}
.titulo2{
    color: rgb(255, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(0, 0, 0);
    text-align: left;
    
}
section{
    color: rgb(0, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(0, 0, 0);
    
}
.bajo{
    background-image: linear-gradient(red, yellow,red);
    height: 0.5cm;
    margin-left: -2cm;
    margin-right: -2cm;
}
table{
    border-width: 5px;
    border-color: #ff0000 solid;
    border: 5px red solid;
}
.fondo_cachopo{
    background-image: linear-gradient(black,grey,black,grey,black);
}

a:link { background-color: rgb(255, 0, 0); }
a:visited { color: rgb(255, 196, 0) }
a:hover { background-color: rgb(47, 255, 0); }
a:active { color:rgb(0, 0, 0)}

