body{
    background-color: black;
    margin: 2px;

}
.cabezera{
    display:inline-block
    
}
header{
    margin: -2px;
}
#img{
    display:inline-block ;
    width: 20%;
}
#name{
    color: red;
    
    width: 58%;
}
#svg{
    display:inline-block;
    
    width: 20%;
}
footer{text-align: center;}

header{
    width: 100%;
    text-align: center;
}
@media screen and (max-width:800px)
{ #img{
    display: block;
    width: 100%;
}
#name{
    display: block;
    width: 100%;
}
#svg{
    display: block;
    width: 100%;
    text-align: center;
}
}
