body{
    background-color: black;

}
.cabezera{
    display:inline-block
    
}
#img{
    display:inline-block ;
    width: 20%;
}
#name{
    color: red;
    
    width: 58%;
}
#svg{
    display:inline-block;
    
    width: 20%;
}
footer{text-align: center;}

header{
    width: 100%;
    text-align: center;
}
